@import "../../styles/main.scss";

.data {

    &__location {
        padding: 0.7rem 0rem;
        border: 1px solid $gray-light-color;
        box-sizing: border-box;
        border-radius: 6px;
        text-align: center;
        background: url('../../../../assets/images/location.jpg') no-repeat center center / cover;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
    }

    &__colLeft {
        grid-column: 1/2;
        height: 100%;
    }

    &__colCenter {
        grid-column: 2/3;
        height: 100%;
    }

    &__colRigth {
        grid-column: 3/4;
        height: 100%;
    }
}