.btn {
    border-radius: 5px;
    width: 250px;
    font-size: $small-font;
    font-weight: $regular-weight;

    &__primary {
        background-color: $primary-color;
        color: white;

        &:hover {
            background-color: $primary-dark-color;
            color: white;
        }
    }

    &__secondary {
        background-color: $secondary-color;
        color: white;

        &:hover {
            background-color: $secondary-dark-color;
            color: white;
        }
    }

} 