.btn {
    border-radius: 5px;
    width: 100%;
    font-size: $small-font;
    font-weight: $regular-weight;
    margin: 0.8rem 0rem;

    &__primary {
        background-color: $primary-color;
        color: white;

        &:hover {
            background-color: $primary-light-color;
            color: white;
        }
    }

} 