.separator {
    align-items: center;
    border-bottom: 1px solid $gray-dark-color;
    display: flex;
    margin: 20px 0px;
    text-align: center;
}

.container {

    &__gridCenter {
        display: grid;
        place-items: center;
    }

    &__flexCenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--border {
        padding: 0.7rem 0rem;
        border: 1px solid $gray-light-color;
        box-sizing: border-box;
        border-radius: 6px;
    }
    
}