// Colors
$primary-color: #1877f2;
$primary-dark-color: #166fe5;
$secondary-color: #42b72a;
$secondary-dark-color: #36a420;
$white-color: #ffffff;
$black-color: #565656;
$gray-light-color: #f1f1f1;
$gray-dark-color: #ced4da;
$danger-color: #dc3545;
$danger-opacity-color: rgba(220, 53, 69, 0.5);
$success-color: #198754;

// Font Size
$small-font: 0.9rem;
$medium-font: 1.2rem;
$large-font: 1.4rem;

// Font Weight
$light-weight: 300;
$regular-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;

// Breadpoint
$medium-screen: 768px;