<div class="continer mt-3">
    <div class="row">
        <div class="col text-center">
            <span class="text__subtitle">Shopping Cart</span>
        </div>
    </div>
    <div class="separator"></div>
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <div class="list">
                <p *ngIf="products.length == 0" class="text__paragrah text--error text--justify">No products available</p>
                <table *ngIf="products.length != 0" class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price | currency:'COP':'symbol-narrow':'3.0' }}</td>
                            <td><img src="../../../../assets/icons/plus.png" alt="Add bag" title="Add bag" class="icon icon--small" (click)="addBag(product)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="cart">
                <p class="text__paragrah text--justify text--semibold">Bag</p>
                <p class="text__message text--justify">Your selected products</p>
                <div class="cart__products">
                    <div *ngFor="let product of productsBag" class="cart__item">
                        <span class="text__message text--regular">{{product.name}}</span>
                        <span class="text__message text--regular">{{product.price | currency:'COP':'symbol-narrow':'3.0' }}</span>
                        <img src="../../../../assets/icons/close.png" class="icon icon--small" title="Remove bag" alt="Remove Bag" (click)="removeBag(product)">
                    </div>
                </div>
                <input type="button" value="Checkout" class="btn btn__primary" [disabled]="productsBag.length == 0">
            </div>
        </div>
    </div>
</div>