@import "../../styles/main.scss";

.list, .cart{
    @extend .container--border;
}

.list {
    padding: 1rem 2rem;
}

.cart {

    &__item {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }
}