<div class="continer mt-3">
    <div class="row">
        <div class="col text-center">
            <span class="text__subtitle">Shopping Cart</span>
        </div>
    </div>
    <div class="separator"></div>
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <div class="list">
                <p *ngIf="products.length == 0" class="text__paragrah text--error text--justify">No products available</p>
                <table *ngIf="products.length != 0" class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}</td>
                            <td><img src="../../../../assets/icons/shopping.png" alt="Add bag" class="icon" (click)="addBag(product)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="cart">
                <p class="text__paragrah text--justify text--semibold">Bag</p>
                <p class="text__paragrah text--justify">Your selected products</p>
                <div *ngFor="let product of productsBag" class="cart__item">
                    <span>{{product.name}}</span>
                    <span>{{product.price}}</span>
                    <img src="" alt="Remove Bag" (click)="removeBag(product)">
                </div>
            </div>
        </div>
    </div>
</div>