@import "../../styles/main.scss";

.list, .cart{
    @extend .container--border;
    margin: 0.5rem 0rem;
}

.list {
    padding: 1rem 2rem;
    max-height: 60vh;
    overflow-y: scroll;
}

.cart {
    text-align: center;

    &__products {
        max-height: 40vh;
        overflow-y: scroll;
        margin-bottom: 0.5rem;
    }

    &__item {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        place-items: center;
        padding: 0.5rem 1rem;
    }
}