<div class="container-fluid background">
    <form class="form" [formGroup]="signInForm">
        <div class="form__group mb-2">
            <label for="email" class="form__label">Correo</label>
            <input type="email" id="email" class="form__control" formControlName="email" autocomplete="off" placeholder="example@address.com">
            <span *ngIf="(email?.invalid && email?.touched)" class="text__message text--error">Email invalid</span>
        </div>
        <div class="form__group mb-2">
            <a class="text__message text--noLink" (click)='showHidePassword()'>{{ showPassword ? 'Hide' : 'Show' }} Password</a>
            <label for="password" class="form__label">Password</label>
            <input [type]=" showPassword ? 'text' : 'password' " id="password" class="form__control" formControlName="password" placeholder="********">
            <div class="includes">
                <span class="includes__text includes__text--bold">Must contain:</span>
                <span class="includes__text">A capital letter.</span>
                <span class="includes__text">Alphanumeric.</span>
                <span class="includes__text">Special character.</span>
                <span *ngIf="(password?.invalid && password?.touched)" class="text__message text--error">Password invalid</span>
            </div>
        </div>
        <div class="form__submit mt-3">
            <input type="submit" value="Sign in" class="btn btn__primary">
            <a class="form__forget mt-3">Forget your password?</a>
        </div>
        <div class="form__separator"></div>
        <div class="form__signup">
            <input type="submit" value="Sign up" class="btn btn__secondary">
        </div>
    </form>
</div>