/* You can add global styles to this file, and also import other style files */
@import "./app/shared/styles/main.scss";

body {
    margin: 0px;
    font-family: 'Readex Pro', sans-serif;

    ::-webkit-scrollbar {
        height: 3px;
        width: 3px;
    }
  
    ::-webkit-scrollbar-track {
        height: 3px;
        width: 3px;
        border-radius: 6px;
        background-color: $gray-light-color;
    }
  
    ::-webkit-scrollbar-thumb {
        height: 3px;
        width: 3px;
        border-radius: 6px;
        background-color: $gray-dark-color;
    }
  
    ::-webkit-scrollbar-thumb:hover {
        height: 3px;
        width: 3px;
        background-color: $gray-dark-color;
    }
}

a {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding-left: 0px !important;
    margin-bottom: 0px;
}

p {
    margin-bottom: 0.5rem !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
